.font-link{
  font-family: 'Cairo', sans-serif;

}


body{
  background-color:#1a1a1c;
  color:white;
  font-family: 'Cairo', sans-serif;

}

header nav ul {
  width: 60%;
  display: flex;
  flex-direction: horizontal;
  justify-content: space-around;
  list-style: none;
  font-size: larger;
  color: aliceblue;

}


 header {
  
    background-color: black;
    /* display: flex;
    align-items: center; */
    color: white;


 }


 header nav li:Link{
  text-decoration: none
 }

 header nav ul:visited{
  text-decoration: none
 }

 header nav li:hover{
  color: pink;
 
 }

 header nav li:active{
  text-decoration: none
 }


#CinemaOfTheMonth{
  display: grid;
  grid-template-columns: 1fr 2fr;

}

.upcomingMovies{
 display: flex;
}
 